<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Order Create</title>

        {% load static %}
        <script type="text/javascript" src="{% static 'jquery/jquery-3.6.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
    </head>
    <body>
        <form id="thisForm">
            {% csrf_token %}
            <main class="container m-auto">
                <div class="alert alert-info my-3" role="alert">
                    <div class="text-center">
                        <h1>Create a New Order</h1>
                        <div>
                            <a class="btn btn-link" href="javascript:doLogout()">logout</a>
                        </div>
                    </div>
                </div>
                <h3>Order Info</h3>
                <div class="row row-cols-2 g-0 p-1">
                    <div class="col-4 col-lg-2 text-center">Order Number</div>
                    <div class="col-8 col-lg-10">
                        <input type="text" id="ordNum" name="ordNum" value="" class="form-control" maxlength="150">
                    </div>
                </div>
                <div class="row row-cols-2 g-0 p-1">
                    <div class="col-4 col-lg-2 text-center">Username</div>
                    <div class="col-8 col-lg-10">
                        <input type="text" id="username" name="username" value="" class="form-control" maxlength="150">
                    </div>
                </div>
                <div class="row row-cols-2 g-0 p-1">
                    <div class="col-4 col-lg-2 text-center">Total Expenses</div>
                    <div class="col-8 col-lg-10">
                        <input type="text" id="tolExps" name="tolExps" value="" class="form-control" maxlength="150">
                    </div>
                </div>
                <hr>
                <div class="d-inline"><h3 class="d-inline">Item Info</h3></div>
                <div class="d-inline">
                    <a class="btn btn-outline-success" href="javascript:doAddItem()">＋</a>
                </div>
                <div class="d-inline">
                    <a class="btn btn-outline-danger" href="javascript:doRemoveItem()">－</a>
                </div>
                <table class="table" id="itemTab">
                    <thead>
                        <tr>
                            <td scope="col">Item Name</td>
                            <td scope="col">Purchase Number</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" id="itemNm_1" name="itemNm" value="" class="form-control" maxlength="150">
                            </td>
                            <td>
                                <input type="text" id="itemNum_1" name="itemNum" value="" class="form-control" maxlength="150">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href="javascript:doChkOrderAndItem()">Save</a>
                <a class="btn btn-secondary" href="javascript:doGoBack()">Back</a>
            </main>
        </form>
    </body>
    <script>
        function doAddItem() {
            if($("#itemTab tbody tr").length < 5) {
                var rowNum = $("#itemTab tbody tr").length + 1

                var newRowContent = "<tr>"
                newRowContent += "<td>"
                newRowContent += "<input type='text' id='itemNm_" + rowNum + "' name='itemNm' value='' class='form-control' maxlength='150'>"
                newRowContent += "</td>"
                newRowContent += "<td>"
                newRowContent += "<input type='text' id='itemNum_" + rowNum + "' name='itemNum' value='' class='form-control' maxlength='150'>"
                newRowContent += "</td>"
                newRowContent += "</tr>"

                $("#itemTab tbody:last-child").append(newRowContent);
            }
            else {
                alert("The limit of item is 5.");
            }
        }

        function doRemoveItem() {
            if($("#itemTab tbody tr").length > 1) {
                $('#itemTab tr:last').remove();
            }
            else {
                alert("You can not remove the last row.");
            }
        }

        function doChkOrderAndItem() {
            var formData = new FormData();
            var thisFormInputData = $("form").serializeArray();
            $.each(thisFormInputData, function(key, input) {
                formData.append(input.name, input.value);
            });

            $.ajax({
                url: "{% url 'do_chk_order_and_item' %}",
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function(result) {
                    if(result.check_result == "N") {
                        alert("Please check you input data.");
                    }
                    else {
                        doSaveOrder();
                    }
                }
            });
        }

        function doSaveOrder() {
            $("#thisForm").attr("action", "{% url 'do_save_order' %}");
            $("#thisForm").attr("method", "POST");
            $("#thisForm").submit();
        }

        function doGoBack() {
            $("#thisForm").attr("action", "{% url 'go_ord_mng_page' %}");
            $("#thisForm").attr("method", "POST");
            $("#thisForm").submit();
        }

        function doLogout() {
            $("#thisForm").attr("action", "{% url 'do_logout' %}");
            $("#thisForm").attr("method", "POST");
            $("#thisForm").submit();
        }
    </script>
</html>